.section__business, .section__featured, .section__footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.div__featured p {
    top: 1079px;
}

.article__contact--table .table__left {
    line-height: 3.5rem;
}

.article__contact--table .table__right {
    line-height: 3.5rem;
}